.carousel_inner {
  height: 100%;
}

.banner_bg {
  background: url("/2151913713.jpg") no-repeat right top #121212;
  background-size: 100% auto;
  background-color: black;
  -webkit-animation: animateBackground infinite ease-in-out 55s;
  -moz-animation: animateBackground infinite ease-in-out 55s;
  -o-animation: animateBackground infinite ease-in-out 55s;
  animation: animateBackground infinite ease-in-out 55s;
  height: auto;
}

.banner_title {
  text-align: center;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 1.745rem;
  line-height: 1.1;
  font-size: 4.5rem !important;
  width: 100%;
}

.banner_sub_title {
  text-align: center;
  font-family: "DM Sans";
  font-style: normal;
  line-height: 1.1;
  font-size: 1.5rem !important;
  width: 75%;
  font-weight: 400;
}

.meet_promo_title {
  font-size: 1.5rem;
}

.banner_btn {
  width: 50%;
}

@media (max-width: 768px) {
  .banner_title {
    font-size: 1.5rem !important;
    width: 100%;
  }
  .banner_sub_title {
    font-size: 1rem !important;
    width: 100%;
  }
  .banner_btn {
    width: 100%;
  }
}
