.custom_btn {
  padding: 0.7rem 3rem;
  border: none;
  outline: none;
  z-index: 1;
  border-radius: 0.5rem;
  background: linear-gradient(
    88deg,
    #7c21fc -11.16%,
    #7c21fc 46.95%,
    #5b00d9 94.89%
  );
  color: white;
  width: 100%;
}

.custom_btn:hover {
  background: linear-gradient(
    88deg,
    #6a00ff -11.16%,
    #641fc5 46.95%,
    #b483f8 94.89%
  ) !important;
  cursor: pointer;
}
